:root{
    --mango-tango: #FB8842;
    --liver: #5C3218;
    --cafe-au-lait: #A57C62;
    --ogre-odor: #FA5241;
    --brilliant-azure: #4194FA;
    --raisin-black: #222222;
    --screamin-green: #59FA41;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kameron', 'Times New Roman', Times, serif;
    font-size: 14pt;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--cafe-au-lait);
    color: var(--mango-tango);
}

button {
    border: none;
    border-radius: 10px;
    background: none;
    border: 1px solid var(--mango-tango);
    color: var(--mango-tango);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    padding: 5px;
    background-color: var(--raisin-black);
    border-bottom: 1px solid var(--mango-tango);
    z-index: 2;
}

#title {
    font-family: 'Kameron', 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    text-shadow: 4px 4px 2px black;
}

main {
    flex-grow: 5;
    display: flex;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
}

aside {
    flex: 15%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
    text-shadow: 0px 1px 2px black;
    background-color: var(--raisin-black);
    border-right: 1px solid var(--mango-tango);
    overflow-y: auto;
}

button {
    margin-top: 15px;
    padding: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--cafe-au-lait);
    color: var(--liver);
}

hr {
    border: none;
    border-top: 1px solid var(--cafe-au-lait);
    margin-top: 15px;
}

input {
    width: 100%;
}

label {
    padding-top: 15px;
}

label::after {
    color: var(--cafe-au-lait);
    content: attr(data-value);
    padding-left: 5px;
}

#toggle {
    display: none;
    text-align: center;
}

#canvas-container {
    flex: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    width: 95%;
    height: 95%;
    border: 1px solid black;
    box-shadow: -2px 2px 10px black;
    background-color: white; 
}

.success-message {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    border: 1px solid darkgreen;
    background-color: var(--screamin-green);
    color: darkgreen;
    text-align: center;
    text-shadow: none;
    font-weight: bold;
}

.hide {
    display: none;
}

@media screen and (max-width: 900px) {
    main {
        flex-direction: column-reverse;
    }

    aside {
        flex: 30%;
        height: 100%;
        border: none;
        overflow-y: auto;
    }

    #canvas-container {
        flex: 70%;
        max-height: 100%;
        overflow-y: auto;
    }
}